*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 45px;
    background: rgb(7, 144, 179);
}

#navbar{}
#navbar ul{
    text-align: center;
}
#navbar ul li{
    display: inline-block;
}
#navbar ul li a{
    text-transform: capitalize;
    font-size: 25px;
    text-decoration: none;
    padding: 35px 20px;
    display: inline-block;
    margin-left: -4px;
    color:black;
}

#navbar ul li a:hover{
    background: rgb(214, 248, 248);
}

table{
    margin: 200px auto;
}
table, td, th{
    border: 1px solid rgb(187, 186, 186);
    border-collapse: collapse;
    padding: 10px;
}
